{% use 'bootstrap_4_horizontal_layout.html.twig' %}

{# disappear form_errors in label #}
{% block form_label_errors %}{% endblock %}

{# override just to add form_errors #}
{% block form_row -%}
  {%- if expanded is defined and expanded -%}
    {{ block('fieldset_form_row') }}
  {%- else -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
      {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group row' ~ ((not compound or force_error|default(false)) and not valid ? ' is-invalid'))|trim})} %}{{ block('attributes') }}{% endwith %}>
      {{- form_label(form) -}}
      <div class="{{ block('form_group_class') }}">

        {# just added this line #}
        {{- form_errors(form) -}}

        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
      </div>
      {##}</div>
  {%- endif -%}
{%- endblock form_row %}
